// profile image
.custom-avatar-shape {
  display: inline-block;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid $secondary;
}
.custom-avatar {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  position: relative;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.custom-edit-icon {
  top: 80%;
  left: 90%;
}

// profile info
.followers {
  background-color: $primary;
  color: white;
  border: 1px solid $primary;
  border-left: transparent;
}
.following {
  border: 1px solid $primary;
  color: $primary;
  border-left: none;
}

.followers-decor {
  // border-left: -10px solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 60px solid $light-primary;
  top: 0;
  left: 0;
}
