$bodyFont: "Montserrat", sans-serif;
$primary: #f2a29b;
$secondary: #8c0303;
$light: #f2d4c2;
$dark: #191919;
$danger: #d9765f;
$btn-border-radius: 15px;
$input-btn-padding-x: 2em;
$carousel-control-color: #8c0303;
$navbar-light-icon-color: #8c0303;
$navbar-light-toggler-border-color: #8c0303;
$navbar-light-color: #8c0303;

$form-text-color: #8c0303;
$light-primary: #8c0303;
// $font-size-base: 1rem;
$input-color: #8c0303;
