$bodyFont: 'Montserrat', sans-serif;
$primary:  #F2A29B;
$secondary: #8C0303;
$light: #F2D4C2;
$dark: #191919;
$danger: #D9765F;
$btn-border-radius: 15px;
$input-btn-padding-x: 2em;
$carousel-control-color: #8C0303;


$form-text-color: #8C0303;
$light-primary: #8C0303;
// $font-size-base: 1rem;
$input-color: #8C0303;

